[Desktop Entry]
Encoding=UTF-8
Name=AusCash Core
Comment=AusCash P2P Cryptocurrency
Comment[de]=Verbinde mit dem AusCash peer-to-peer Netzwerk
Comment[fr]=AusCash, monnaie virtuelle cryptographique pair à pair
Comment[tr]=AusCash, eşten eşe kriptografik sanal para birimi
Exec=auscash-qt %u
Terminal=false
Type=Application
Icon=auscash128
MimeType=x-scheme-handler/auscash;
Categories=Office;Finance;
